{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-md-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sed distinctio ipsam, illum assumenda autem ex
            ratione enim sapiente fugiat aliquam atque quas magni sint ullam alias? At, inventore fugiat?</p>
    </div>
    <div class="col-md-4">
        <img src="assets/images/images.jpg" style="width: 350px;">
    </div>

</div>


{{> footer }}