<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction to VueJs</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <h1>Hola mundo</h1>
      <p>{{ value }}</p>
      <button @click="change">Cambiar</button>
      <div v-for="{id, name} in vFor" :key="id">{{ name }}</div>
      <input type="text" v-model="newValue" @keypress.enter="changeValue"/>
    </div>
    <script src="app.js"></script>
  </body>
</html>
